################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj/Debug/net7.0
/.vs
/ConsoleApp1/.vs
/ConsoleApp1/obj
/ConsoleApp2/.vs/ConsoleApp2
/ConsoleApp2/obj/Debug/net7.0
/ConsoleApp2/obj
