################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj/Debug/net7.0
/.vs
/ConsoleApp1/.vs
/ConsoleApp1/obj
